*{
    margin:0;
    padding:0;
}

.main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background: tomato;
    width:100vw;
    height:100vh;
    
}
.main h1{
    margin-top:40px;
    font-size: 60px;
    font-weight: 100;
    text-shadow: blueviolet;
    color: rgb(255, 255, 255);
}
.container{
    background: #a646ff;
    color: white;
    margin-top: 40px;
    width:700px;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap:70px;
}
input{
    width:90px;
    height:90px;
    text-align: center;
    border: none;
    border-radius: 20px;
    font-size: 60px;
    outline: none;
}
.in{
    display: flex;
    flex-direction: column;
    gap:20px;
}
label{
    text-align: center;
    font-size: 30px;
    color: rgb(233, 233, 233);
}

.offerdetails{
    width:950px;
    height:100px;
    background: yellow;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}
#offer{
    color:red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}